/* For Tablets */
@media all and (max-width: 1115px) {
 
  .col-md-6 img{
    margin-left: 100px;
  }



  .btn{
    text-align:center;
    float:none;
   
    display:inline-block;
  }

  .col-md-2 {
  min-width: 250px;
}
  
.col-md-4{
  min-width: 350px;
}

  .message{
    
    text-align:center;
    
  }

  .benefit{
    width:100%;
    padding-bottom:40px;
  }

  h1{
    font-size:35px;

  }

  h2{
    font-size:30px;

  }
  .right-content{
    padding-top:120px;
  }

  .title{
    padding-bottom:10px;
    padding-top:10px;
   
  }
  

 


}

/* For Smartphones */
@media all and (max-width: 765px) {
 
  .col-md-3 div {
    padding: 0 0px;
  }
  
  .col-md-6 img{
    margin-left: 0;
  }

  .right-content{
    padding-top:0px;
  }

  .align{
    text-align: center;
  }

  .title{
    padding-top:0px;
    
  }

  h1{
    font-size:35px;

  }
  .top-wrapper{
    padding-top:190px;
  }

 
  h2{
    font-size:30px;

  }
  .top-part img{
    width:100%;
  }
.btn-wrapper{
  text-align: center;
  
}
.menu-icon{
  display: inline-block;
  padding-right:20px;
}

.btn{
  display:inline-block;
}
  .header-right{
    display:none;
  }
  
  


  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


}