

* {
  box-sizing: border-box;
}


html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Times New Roman', Times, serif;
}


.text-contents{
  letter-spacing: 1px;
  color:rgb(80, 78, 78);
  
}

a {
  text-decoration: none;

  color:white;
}



.col-md-6 img{
  width:65%;
  margin-left: 200px;
  
  
}

.col-md-5 img{
  width:100%;
  display:flex;
}

h5{
  font-style: bold;
}

.content h1 {
    padding-top: 10px;

  }

.form{
  margin:0 40px;
}
.top-wrapper {
  padding: 160px 0px 350px 0px;
  text-align: center;
  background-image: url("./view.png");
  background-color:rgb(183, 216, 241);
  background-position: bottom;
  background-size: cover;
  
}



.top-part{
  width: 100%;
}

.top-part img {
 
  opacity:0.95;

  
 
}

.top-part img:hover{
 
  opacity:1;
  transition:0.3s;
  

  
 
}


.menu-icon{
  float:right;
  color:rgb(41, 41, 41);
 display:none;
  PADDING-TOP:21PX;
 font-size:25PX;
 
  
}
li{
  list-style: none;
}
.contact-bg{
  background-color:  rgba(150, 150, 150, 0.37);
}

.pd-rl-20{
  padding: 0px 20px;
}

.form-group input,textarea{
  display:flex;
}

.top-wrapper h1 {
  
  font-size: 70px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  opacity:1;
}

.top-wrapper p {
  padding-bottom:5px;
    margin-bottom: 3px;
}
.header-left a:hover{
  text-decoration: none;
 color:#c5defc;
 
}

.btn-wrapper {
  text-align: center;
  margin: 10px 0;
}
.blue{
  color:#17a2b8;
}


.btn-wrapper p {
  margin: 10px 0;
}


.btn {
  color: white;
  display: inline-block;
  opacity: 0.8;
  text-align: center;
}

.btn-success{
  background-color: #3459d39d;
 
}
.btn-success:hover {
  background-color:#6885e49d;
}


.fa {
  margin-right: 5px;
}
footer a{
  color:rgb(88, 88, 88);
}

footer a:hover{
  text-decoration:none;
  color:rgb(156, 156, 156);
}
.yellow{
  color:rgb(255, 184, 31);
}

.bar {
  width: 100%;
  background-color: #ddd; 
  border-radius: 10px;
}

.ps {width: 95%; background-color: #9bc0f1;
  border-radius: 10px;
  margin-bottom: 10px;
  
} 
.ai {width: 90%; background-color: #e25923;
  border-radius: 10px;
}

.b-ps {
  color:#9bc0f1;
}

.skills {
  text-align: right; 
  padding-top: 3px; 
  padding-bottom: 3px; 
  color: white; 
  font-size: 12px;

}

.work-wrapper{
  border-top:none;
  text-align: center;
  letter-spacing: 2px;
  background-image: url("./pattern.jpg");
  background-color:rgb(186, 220, 248);
  padding: 120px 0;
}



#work-title{
display: block;
padding: 70px 40px;
  background-color: #1d649e;
  color:white;
  
}

#work-title h1, #work-exp h1{
  line-height: 70px;
}

.row {
  /* justify-content: center; */
}
#work-exp{
  display: block;
  padding:70px 40px;
    background-color: #3b7aad;
    color:white;
    
  }
 
.col-md-3 img{
  width: 100px;
  height: 100px;
}

.col-md-3 div {
  padding: 10px 5px;
  background-color: rgb(190, 211, 221);
  display: block;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}   

.col-sm-12 {
  padding-bottom: 30px;
  
}

.border-btm {
  padding-bottom: 50px;
  border-bottom: 3px rgb(187, 191, 192) solid;
}

.coloring{
  border:2px solid black;
}
header {
  height: 80px;
  width: 100%;
  background-color:  rgb(255, 255, 255);
  position: fixed;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
  z-index: 10;
  
}

.logo {
  font-size:30px;
  width: 140px;
  color:#17a2b8;
  line-height: 50px;
}



.pd-t-10{
  padding-top:10px;
}
.education-wrapper{
  padding-top:100px;
}
.intro-wrapper{
  padding: 100px 0px;
  /* padding-right:30px; */
  /* padding-left:30px; */
}


.right-content{
  padding-top:160px;
}
.pd-t-30{
  padding-top:20px;
}

.header-left {
  float: left;
  color:#1d649e;
  display:block;
  margin-left:10px;
  
}


.header-right {
  float: right;
  
}

.header-right a {
  line-height: 50px;
  padding: 0 25px;
  color: rgb(0, 0, 0);
  display: block;
  float: left;
  transition: all 0.5s;
  text-decoration: none;
  border-radius: 20px ;
  margin-top: 10px;
}

.header-right a:hover {
  background-color: rgba(186, 212, 226, 0.3);
  text-decoration: none;
  color:rgb(0, 0, 0) ;
}

.message-wrapper {
  border-bottom: 1px solid #eee;

  padding-bottom: header;
  padding-top:40px;
  text-align: center;
}

.message {
  cursor: pointer;
  box-shadow: 0 7px  #415072;
  border-radius: 10px;
  color:black;
  border: 1px solid;
}

.message:hover {
  background-color:rgb(124, 149, 182);
  color:rgb(255, 255, 255) !important;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

#btn-dark{
  border-radius: 20px;
  border-color: #868686;
  padding: 5px 34px;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}

footer {
  box-shadow: 0 -0.5px 10px rgba(0, 0, 0, 0.3);
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
.text1{
  animation: text 2s 1;
}

@keyframes text{
  0%{
    color:white;
    padding-top:80px;
    letter-spacing:10px;

  }
  
  85%{

  }
}


/* .contact-wrapper p{
  margin-top:30px;
  margin-bottom:10px; */
  
}
.col-md-6{
  padding-bottom:20px ;
  
}

.contact-wrapper{
  padding-top:70px;
  padding-bottom:70px;

 
}

label span {
  color:red;

}

footer{
  height:130px;
  text-align:center;
  background-color:  rgb(231, 231, 231,0.3);
}

.footer-logo{
  
  color:rgb(99, 99, 99);
  font-size:32px;
  padding-top:20px;
}

.footer-list{
  text-align:left;
  float:right;
  color:white;
  padding-top:20px;
}

.footer-list li{
  padding-bottom:10px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color:  rgb(152, 175, 194);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  
}
html {
  scroll-behavior: smooth;
}
.sidenav .hover {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #535353;
  display: block;
  transition: 0.3s;
  border-radius: 20px;
 
 
}


.sidenav .hover:hover {
  background-color: #88aab6;
  text-decoration: none;
  padding: 8px 8px 8px 20px;
  color: white;
  }

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 0 5px;
  text-decoration: none;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closebtn:hover {
  padding: 0 0;
  background-color: cadetblue;
  border-radius:100px;
}

.flogo {
  width : 15%;
  height: auto;
}

.btn-send {
  position: relative;
  background-color: #79b6b6;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 5px 20px;
  /* width: 200px; */
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  float: right;
  
}

.btn-send:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn-send:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.col-sm-5 p {
  color: grey;
}
